<!-- <top-menu></top-menu> -->
<top-menu-landing></top-menu-landing>
<div style="height: 57px;"></div>
<div class="container-fluid">
  <div align="center" class="merchant-bg-image">
   <div class="row">
<div class="col-sm-8">
 <div style="margin-top: 3%;" class="header-content hidden-xs fadeIn animated">
    <h1>Signup Form</h1>
    <!-- <h4>Sample content will be replaced with original paragraph later.</h4> -->
    <h4 class='hidden-xs'>*Note: Newly registered accounts will be verified and approved by backend team,<br>before going live in website.</h4>
 </div>
</div>
     <div class="col-sm-4 zoomIn animated" >

<div style="margin-top: 4%;"></div>
       <div class="login text-left">
        <!-- <div class="login-triangle"></div> -->

        <h2 class="login-header text-capitalize">Signup</h2>





        <form class="login-container" id="merchant_signup_form">
          <div class="row">
            <div class="col-sm-6">

              <p> <input id='fname' type="text" placeholder="First name">
              <span *ngIf="errFN=='1'" class="text-shadow fadeIn animated" style="color: #D8000C;font-style: oblique;font-size:13px;" ><i class="fa fa-times-circle"></i> Enter Firstname</span>
              </p>
            </div>
            <div class="col-sm-6">
              <p> <input id='lname' type="text" placeholder="Last name">
                <span *ngIf="errLN=='1'" class="text-shadow fadeIn animated" style="color: #D8000C;font-style: oblique;font-size:13px;" ><i class="fa fa-times-circle"></i> Enter Lastname</span>
              </p>
            </div>
          </div>

          <p><input id='company' type="text" placeholder="Company name"></p>
          <p> <input id='contact' type="number" placeholder="Contact number" >
            <span *ngIf="errCNO=='1'" class="text-shadow fadeIn animated" style="color: #D8000C;font-style: oblique;font-size:13px;" ><i class="fa fa-times-circle"></i> Enter Contact number</span>
            <span *ngIf="errCNO=='2'" class="text-shadow fadeIn animated" style="color: #D8000C;font-style: oblique;font-size:13px;" ><i class="fa fa-times-circle"></i> Check Contact number</span>
          </p>
          <p><input id='email' type="email" placeholder="Email">
            <span *ngIf="errEMl=='1'" class="text-shadow fadeIn animated" style="color: #D8000C;font-style: oblique;font-size:13px;" ><i class="fa fa-times-circle"></i> Enter Email</span>
            <span *ngIf="errEMl=='2'" class="text-shadow fadeIn animated" style="color: #D8000C;font-style: oblique;font-size:13px;" ><i class="fa fa-times-circle"></i> Not a valid Email ID</span>
          </p>
          <p><input id='password' type="password" placeholder="Password">
            <span *ngIf="errPwd=='1'" class="text-shadow fadeIn animated" style="color: #D8000C;font-style: oblique;font-size:13px;" ><i class="fa fa-times-circle"></i> Enter Password</span>
          </p>
          <p class="form-group">
            <select class="" id="selAccType" style="background-color: white;border-radius: 5px; width:100%;height: 34px;color:#757575;font-size: 14px;">

              <option value="">Select account type</option>
              <option value="user">Regular account</option>
              <option value="merchant">Manufacture account</option>
              <option value="gbcistaff">GBCI staff</option>
            </select>
            <span *ngIf="errACTy=='1'" class="text-shadow fadeIn animated" style="color: #D8000C;font-style: oblique;font-size:13px;" ><i class="fa fa-times-circle"></i> Select Account Type</span>
          </p>
          <br />

          <div id="re_captcha" class="g-recaptcha  " align="center" data-callback="verifyCallback" data-sitekey="6LexsR0UAAAAAAOYF-WmDk7R_IpFKlS-9FP4ZJ0C"></div>
         <p id="error"></p>
          <p>
<!-- <a href="#page-merchant-dashboard" style="text-decoration:none;"> -->
            <button id="merchantbutton" (click)="merchantSubmit();" type="button" class="submit waves-effect"  ><i class="fa fa-lightbulb-o" aria-hidden="true"></i> &nbsp; Submit</button>
<!-- </a> -->
         </p>
        </form>
      </div>


     </div>
  </div>
</div>
</div>
